* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html {
  font-size: 62.5%;
}

.main {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header {
  position: absolute;
  top: 4rem;
  bottom: initial;
  left: 7.7rem;
  right: initial;
  z-index: 0;
}

.main .header__title {
  font-family: "Inconsolata", monospace;
  color: #333333;
  font-size: 2.4rem;
}

@media (max-width: 992px) {
  .main .header {
    position: absolute;
    top: 2rem;
    bottom: initial;
    left: 2rem;
    right: initial;
    z-index: 0;
  }
}

.main .content {
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 1.7rem;
}

.main .content__img img {
  width: 100%;
  max-width: 54rem;
}

.main .content__detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1.7rem;
}

.main .content__title {
  font-weight: 700;
  font-size: 7.4rem;
  line-height: 9.5rem;
  color: #333333;
  margin-bottom: 3.6rem;
}

.main .content__desc {
  color: #4F4F4F;
  font-size: 2.4rem;
  margin-bottom: 6.4rem;
  max-width: 39rem;
  width: 100%;
}

.main .content__btn {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #333333;
  padding: 2.4rem 4.3rem;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
}

.main .content__btn:hover {
  background-color: #2B254E;
}

@media (max-width: 1300px) {
  .main .content__title {
    font-size: 5.6rem;
    line-height: 7rem;
    margin-bottom: 3rem;
  }
  .main .content__desc {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .main .content {
    padding: 10rem 2.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .main .content__detail {
    padding: 0;
  }
  .main .content__img {
    margin: 0 auto;
  }
  .main .content__title {
    font-size: 4.8rem;
  }
  .main .content__desc {
    font-size: 1.8rem;
  }
}

.main .footer {
  position: absolute;
  top: initial;
  bottom: 2.4rem;
  left: 0;
  right: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .footer__title {
  font-family: "Inconsolata", monospace;
  color: #BDBDBD;
  font-size: 1.4rem;
  padding: 0 1rem;
  text-align: center;
}

.main .footer__title .footer__name {
  font-weight: 600;
}

.main .footer__title a {
  text-decoration: none;
  color: currentColor;
}

.main .footer__title a:focus, .main .footer__title a:hover {
  color: #2B254E;
}
/*# sourceMappingURL=style.css.map */