@import "./color";
@import "./mixin";
@import "./font";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontRegular;
}
html {
    font-size: 62.5%;
}
.footer {
    // @include posFull($left:0 , $right: 0, $bottom: 2.4rem);
    padding: 2.4rem 0;
    @include flex($content: center, $item: center);
    &__title {
        font-family: 'Montserrat', sans-serif;
        color: $color__text-2;
        font-size: 1.4rem;
        padding: 0 1rem;
        text-align: center;
        .footer__name {
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
        }
        a {
            text-decoration: none;
            color: currentColor;
            font-family: 'Montserrat', sans-serif;
            &:focus, &:hover {
                color: $color__text-hover;
            }
        }
    }
}
.page-404 {
    position: relative;
    .header {
        @include posFull($left: 7.7rem, $top: 4rem);
        &__title {
            font-family: $fontTitle;
            color: $color__text;
            font-size: 2.4rem;
        }
        @media (max-width: 992px) {
            @include posFull($left: 2rem, $top: 2rem);
        }
    }
    .content {
        padding: 0 6rem;
        min-height: calc(100vh - 6.6rem);
        @include flex($content: space-between, $item: center);
        &__img {
            flex: 1;
            text-align: center;
            padding: 0 1.7rem;
            img {
                width: 100%;
                max-width: 54rem;
            }
        }
        &__detail {
            flex: 1;
            padding: 0 1.7rem;
        }
        &__title {
            font-weight: 700;
            font-size: 7.4rem;
            line-height: 9.5rem;
            color: $color__text;
            margin-bottom: 3.6rem;
        }
        &__desc {
            color: $color__text-3;
            font-size: 2.4rem;
            margin-bottom: 6.4rem;
            max-width: 39rem;
            width: 100%;
        }
        &__btn {
            color: $color--white;
            font-size: 1.4rem;
            font-weight: 700;
            background-color: $color__text;
            padding: 2.4rem 4.3rem;
            display: inline-block;
            text-decoration: none;
            transition: all .3s;
            text-transform: uppercase;
            &:hover {
                background-color: $color__text-hover;
            }
        }
        @media (max-width: 1300px) {
            &__title {
                font-size: 5.6rem;
                line-height: 7rem;
                margin-bottom: 3rem;
            }
            &__desc {
                font-size: 2rem;
            }
        }
        @media (max-width: 992px) {
            padding: 10rem 2.4rem;
            flex-flow: column wrap;
            &__detail {
                padding: 0;
            }
            &__img {
                margin: 0 auto;
            }
            &__title {
                font-size: 4.8rem;
            }
            &__desc {
                font-size: 1.8rem;
            }

        }
    }
}

.team-page {
    padding: 0 30rem;
    @media (max-width: 1550px) {
        padding: 0 20rem;
    }
    @media (max-width: 1300px) {
        padding: 0 10rem;
    }
    @media (max-width: 1200px) {
        padding: 0 3rem;
    }
    .header {
        padding: 10rem 0;
        @include flex($item: center);
        
        &__title {
            font-family: $fontPT;
            font-size: 3.6rem;
            font-weight: 700;
            flex: 1;
        }
        &__desc {
            flex: 1;
            
            h3 {
                font-family: $fontPoppin;
                font-size: 1.8rem;
                text-transform: uppercase;
                font-weight: 600;
            }
            p {
                font-family: $fontPoppin;
                font-size: 1.8rem;
                max-width: 44rem;
            }
        }
        @media (max-width: 992px) {
            flex-direction: column;
            &__title {
                margin-bottom: 3.8rem;
            }
        }
    }
    .members {
        display: grid;
        grid-template-columns: repeat(3, minmax(30rem, 1fr));
        grid-column-gap: 5rem;

        .member {
            @include flex($item: center);
            flex-direction: column;
            &__img {
                position: relative;
                margin-bottom: 1.5rem;
                max-width: 23.8rem;
                img {
                    width: 100%;
                }
            }
            &__pos {
                @include posFull($top: 0, $right: -2rem);
                font-family: $fontPT;
                font-size: 1.2rem;
                line-height: 1.6rem;
                text-transform: uppercase;
                text-orientation: mixed;
                writing-mode: vertical-rl;
            }
            &__name {
                font-family: $fontPoppin;
                font-size: 1.8rem;
                font-weight: 600;
            }
            &:nth-child(2), &:nth-child(5) {
                margin-top: 10rem;
            }
        }
        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, minmax(20rem, 1fr));
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, minmax(auto, 1fr));
            .member {
                &:nth-child(5) {
                    margin-top: 0;
                }
                &:nth-child(even)  {
                    margin-top: 10rem;
                }
            }
        }
    }
}