* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html {
  font-size: 62.5%;
}

.footer {
  padding: 2.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-family: 'Montserrat', sans-serif;
  color: #BDBDBD;
  font-size: 1.4rem;
  padding: 0 1rem;
  text-align: center;
}

.footer__title .footer__name {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.footer__title a {
  text-decoration: none;
  color: currentColor;
  font-family: 'Montserrat', sans-serif;
}

.footer__title a:focus, .footer__title a:hover {
  color: #2B254E;
}

.page-404 {
  position: relative;
}

.page-404 .header {
  position: absolute;
  top: 4rem;
  bottom: initial;
  left: 7.7rem;
  right: initial;
  z-index: 0;
}

.page-404 .header__title {
  font-family: "Inconsolata", monospace;
  color: #333333;
  font-size: 2.4rem;
}

@media (max-width: 992px) {
  .page-404 .header {
    position: absolute;
    top: 2rem;
    bottom: initial;
    left: 2rem;
    right: initial;
    z-index: 0;
  }
}

.page-404 .content {
  padding: 0 6rem;
  min-height: calc(100vh - 6.6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-404 .content__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 1.7rem;
}

.page-404 .content__img img {
  width: 100%;
  max-width: 54rem;
}

.page-404 .content__detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1.7rem;
}

.page-404 .content__title {
  font-weight: 700;
  font-size: 7.4rem;
  line-height: 9.5rem;
  color: #333333;
  margin-bottom: 3.6rem;
}

.page-404 .content__desc {
  color: #4F4F4F;
  font-size: 2.4rem;
  margin-bottom: 6.4rem;
  max-width: 39rem;
  width: 100%;
}

.page-404 .content__btn {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #333333;
  padding: 2.4rem 4.3rem;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
}

.page-404 .content__btn:hover {
  background-color: #2B254E;
}

@media (max-width: 1300px) {
  .page-404 .content__title {
    font-size: 5.6rem;
    line-height: 7rem;
    margin-bottom: 3rem;
  }
  .page-404 .content__desc {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .page-404 .content {
    padding: 10rem 2.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .page-404 .content__detail {
    padding: 0;
  }
  .page-404 .content__img {
    margin: 0 auto;
  }
  .page-404 .content__title {
    font-size: 4.8rem;
  }
  .page-404 .content__desc {
    font-size: 1.8rem;
  }
}

.team-page {
  padding: 0 30rem;
}

@media (max-width: 1550px) {
  .team-page {
    padding: 0 20rem;
  }
}

@media (max-width: 1300px) {
  .team-page {
    padding: 0 10rem;
  }
}

@media (max-width: 1200px) {
  .team-page {
    padding: 0 3rem;
  }
}

.team-page .header {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-page .header__title {
  font-family: "PT Serif", serif;
  font-size: 3.6rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.team-page .header__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.team-page .header__desc h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.team-page .header__desc p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  max-width: 44rem;
}

@media (max-width: 992px) {
  .team-page .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-page .header__title {
    margin-bottom: 3.8rem;
  }
}

.team-page .members {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[3];
      grid-template-columns: repeat(3, minmax(30rem, 1fr));
  grid-column-gap: 5rem;
}

.team-page .members .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-page .members .member__img {
  position: relative;
  margin-bottom: 1.5rem;
  max-width: 23.8rem;
}

.team-page .members .member__img img {
  width: 100%;
}

.team-page .members .member__pos {
  position: absolute;
  top: 0;
  bottom: initial;
  left: initial;
  right: -2rem;
  z-index: 0;
  font-family: "PT Serif", serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.team-page .members .member__name {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.team-page .members .member:nth-child(2), .team-page .members .member:nth-child(5) {
  margin-top: 10rem;
}

@media (max-width: 1200px) {
  .team-page .members {
    -ms-grid-columns: (minmax(20rem, 1fr))[3];
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
  }
}

@media (max-width: 992px) {
  .team-page .members {
    -ms-grid-columns: (minmax(auto, 1fr))[2];
        grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
  .team-page .members .member:nth-child(5) {
    margin-top: 0;
  }
  .team-page .members .member:nth-child(even) {
    margin-top: 10rem;
  }
}
/*# sourceMappingURL=style.css.map */