@import "./color";
@import "./mixin";
@import "./font";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontRegular;
}
html {
    font-size: 62.5%;
}
.main {
    position: relative;
    min-height: 100vh;
    @include flex($content: center, $item: center);
    .header {
        @include posFull($left: 7.7rem, $top: 4rem);
        &__title {
            font-family: $fontTitle;
            color: $color__text;
            font-size: 2.4rem;
        }
        @media (max-width: 992px) {
            @include posFull($left: 2rem, $top: 2rem);
        }
    }
    .content {
        padding: 0 6rem;
        @include flex($content: space-between, $item: center);
        &__img {
            flex: 1;
            text-align: center;
            padding: 0 1.7rem;
            img {
                width: 100%;
                max-width: 54rem;
            }
        }
        &__detail {
            flex: 1;
            padding: 0 1.7rem;
        }
        &__title {
            font-weight: 700;
            font-size: 7.4rem;
            line-height: 9.5rem;
            color: $color__text;
            margin-bottom: 3.6rem;
        }
        &__desc {
            color: $color__text-3;
            font-size: 2.4rem;
            margin-bottom: 6.4rem;
            max-width: 39rem;
            width: 100%;
        }
        &__btn {
            color: $color--white;
            font-size: 1.4rem;
            font-weight: 700;
            background-color: $color__text;
            padding: 2.4rem 4.3rem;
            display: inline-block;
            text-decoration: none;
            transition: all .3s;
            text-transform: uppercase;
            &:hover {
                background-color: $color__text-hover;
            }
        }
        @media (max-width: 1300px) {
            &__title {
                font-size: 5.6rem;
                line-height: 7rem;
                margin-bottom: 3rem;
            }
            &__desc {
                font-size: 2rem;
            }
        }
        @media (max-width: 992px) {
            padding: 10rem 2.4rem;
            flex-flow: column wrap;
            &__detail {
                padding: 0;
            }
            &__img {
                margin: 0 auto;
            }
            &__title {
                font-size: 4.8rem;
            }
            &__desc {
                font-size: 1.8rem;
            }

        }
    }
    .footer {
        @include posFull($left:0 , $right: 0, $bottom: 2.4rem);
        @include flex($content: center, $item: center);
        &__title {
            font-family: $fontTitle;
            color: $color__text-2;
            font-size: 1.4rem;
            padding: 0 1rem;
            text-align: center;
            .footer__name {
                font-weight: 600;
            }
            a {
                text-decoration: none;
                color: currentColor;
                &:focus, &:hover {
                    color: $color__text-hover;
                }
            }
        }
    }
}